{% extends 'layout.twig' %}

{% block titre %}Connexion{% endblock %}

{% block contenu %}

{% include 'header.twig' with {"pageActive" : page }%}

<div id="connexion-wrapper">

{% include "form_connexion.php" %}

</div>

{% include 'footer.twig' with {"contenu" : contenuContact }%}

{% endblock %}