<<<<<<< HEAD
{% extends 'layout.twig' %}

{% block titre %}Connexion{% endblock %}

{% block contenu %}

{% include 'header.twig' with {"pageActive" : page }%}

<div id="connexion-wrapper">

{% include "form_connexion.php" %}

</div>

{% include 'footer.twig' with {"contenu" : contenuContact }%}

{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}



<div id="connexion-wrapper">

{% include "layout/form_connexion.php" %}

</div>

{% endblock %}
>>>>>>> b8298c76373e225bbfc37cfe11b22722c9423982
